footer {
    .lista_footer {
        list-style: none;
        font-weight: bold; 
      }
      
      .footer__logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: lightgray;
        padding: 15px; 
      }
      
      .footer__logo img {
        width: 150px; 
      }
      
      .footer__custom {
        width: 100%; 
      }
      
}